{% extends "base.html" %}

{% block body %}
    <h1>Dashboard <small>Welcome {{session.email}}</small></h1>
    <a class="btn btn-success" href="/add_store">Add Store</a>
    <hr>
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Store name</th>
        <th>Address</th>
        <th>Category</th>
        <th>poster</th>
        <th>Date</th>
        <th></th>
        <th></th>
      </tr>
      {% for store in stores %}
        <tr>
          <td>{{store.id}}</td>
          <td>{{store.name}}</td>
          <td>{{store.address}}</td>
          <td>{{store.category}}</td>
          <td>{{store.poster}}</td>
          <td>{{store.post_date}}</td>
          <td><a href="edit_store/{{store.id}}" class="btn btn-default pull-right">Edit</a></td>
          <td>
            <form action="{{url_for('delete_store', id=store.id)}}" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete" class="btn btn-danger">
            </form>
          </td>
        </tr>
      {% endfor%}
    </table>
{% endblock %}  