{% extends "base.html" %}

{% block body %}
    <h1>Dashboard <small>Welcome {{session.email}}</small></h1>
    <a class="btn btn-success" href="/add_store">Add Store</a>
    <hr>
    <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Store</th>
        <th>Address</th>
        <th>Zipcode</th>
        <th>City</th>
        <th>Category</th>
        <th>Note</th>
        <th></th>
        <th></th>
      </tr>
      {% for store in stores %}
        <tr>
          <th>{{store.storeId}}</th>
          <td>{{store.storeName}}</td>
          <td>{{store.storeAddress}}</td>
          <td>{{store.storeZipcode}}</td>
          <td>{{store.storeCity}}</td>
          <td>{{store.storeCategory}}</td>
          <td>{{store.note}}</td>
          <td><a href="edit_store/{{store.storeId}}" class="btn btn-info pull-right">Edit</a></td>
          <td>
            <form action="{{url_for('delete_store', id=store.storeId)}}" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </tr>
      {% endfor%}
    </table>
{% endblock %}  